/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* BODY */
body {
    background-color: black;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* CLOCK */
#clock {
    font-size: 200px;
    color: white;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
